@using MovieManagement.ViewModels
@model List<MovieViewModel>

@{
    ViewData["Title"] = "All Movies";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Banner</th>
            <th scope="col">Movie Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Moive Code</th>
            <th scope="col">Description</th>
            <th scope="col">Release Date</th>
            <th scope="col">Moive Length</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }

        @foreach (var movieViewModel in Model)
        {
            <tr>
                <th scope="row">@(i++)</th>
                <td><img class="img-thumbnail img-fluid" src="@movieViewModel.BannerDataUrl"></td>
                <td>@movieViewModel.Name</td>
                <td>@movieViewModel.Genre</td>
                <td>@movieViewModel.Code</td>
                <td>@movieViewModel.Description</td>
                <td>@movieViewModel.ReleaseDate</td>
                <td>@movieViewModel.LengthInMin</td>
                <td>
                    <a class="btn btn-outline-warning btn-sm" href="/movie/edit/@movieViewModel.Id">Edit</a>
                    <a class="btn btn-outline-danger btn-sm" href="/movie/delete/@movieViewModel.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" href="/movie/add">Add Movie</a>
