@using MovieManagement.ViewModels
@model List<MovieViewModel>

@{
    ViewData["Title"] = "All Movies";
}

<form asp-action="Index" method="get" class="row">
    <div class="col-md-7">
        <input class="form-control" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Type movie keywords: name, description etc." />
    </div>
    <div class="col-md-2">
        <div class="btn-group w-100">
            <input class="form-control btn btn-primary" type="submit" value="Search" />
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-action="Index">Clear all filter</a>
                </li>
             </ul>
        </div>
    </div>

    <div class="col-md-3">
        <a class="btn btn-success form-control" href="/movie/add">Add Movie</a>
    </div>
</form>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" style="width:150px">Banner</th>

            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MovieNameSortParam"]">Name</a>
            </th>
            <th scope="col">Genre</th>
            <th scope="col">Moive Code</th>
            <th scope="col">Description</th>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ReleaseDateSortParam"]">Release Date</a>
            </th>
            <th scope="col">Moive Length</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }

        @foreach (var movieViewModel in Model)
        {
            <tr>
                <th scope="row">@(i++)</th>
                <td><img class="img-thumbnail img-fluid" src="@movieViewModel.BannerDataUrl"></td>
                <td>@movieViewModel.Name</td>
                <td>@movieViewModel.Genre</td>
                <td>@movieViewModel.Code</td>
                <td>@movieViewModel.Description</td>
                <td>@movieViewModel.ReleaseDate</td>
                <td>@movieViewModel.LengthInMin</td>
                <td>
                    <a class="btn btn-outline-warning btn-sm" href="/movie/edit/@movieViewModel.Id">Edit</a>
                    <a class="btn btn-outline-danger btn-sm" href="/movie/delete/@movieViewModel.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
